@import "../src/assets/sass/light-bootstrap-dashboard";

aside.sidebar {
  &:before,
  &:after {
    content: none;
  }
}
.markdown-section pre>code {
  font-size: 12px;
}
.page-component__scroll {
  height: calc(100% - 80px);
  margin-top: 80px;
  .el-scrollbar__wrap {
    overflow-x: auto;
  }
}

.ct-documentation .content {
  padding-top: 50px;
  h3 {
    margin: 55px 0 20px;
  }
  table {
    display: table;
    border-collapse: collapse;
    width: 100%;
    background-color: #fff;
    font-size: 14px;
    margin-bottom: 45px;
    line-height: 1.5em;
    strong {
      font-weight: normal;
    }
    tr {
      width: 100%;
      background-color: white;
      border: none;
      td:first-child{
        color: $info-color;
        font-weight: bold;
      }
    }
    td, th {
      border: none;
      border-bottom: 1px solid #d8d8d8;
      padding: 15px;
      max-width: 250px;
    }
    th {
      text-align: left;
      white-space: nowrap;
      color: white;
      font-weight: bold;
      background-color: $info-color;
    }
    td {
      color: #333;
    }
    th:first-child, td:first-child {
      padding-left: 10px;
    }
  }
  ul:not(.timeline) {
    margin: 10px 0;
    padding: 0 0 0 20px;
    font-size: 14px;
    color: #5e6d82;
    line-height: 2em;
  }
}


.back-top-fade-enter,
.back-top-fade-leave-active {
  transform: translateY(-30px);
  opacity: 0;
}

